server:
  port: 0

grpc:
  server:
    port: 0

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/analyzer
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: always

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: stats.analyzer.default
      enable-auto-commit: false
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    listener:
      ack-mode: manual

logging:
  level:
    ru.practicum.stats.analyzer: DEBUG
    org.springframework: ERROR
    apache.kafka: WARN
